@font-face {
    font-family: 'Cartoon';
    src: url('../../fonts/dashboard/sf_cartoonist_hand-webfont.eot');
    src: url('../../fonts/dashboard/sf_cartoonist_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/dashboard/sf_cartoonist_hand-webfont.woff') format('woff'),
         url('../../fonts/dashboard/sf_cartoonist_hand-webfont.ttf') format('truetype'),
         url('../../fonts/dashboard/sf_cartoonist_hand-webfont.svg#SFCartoonistHandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#windowDiv
{
	position					: absolute;
	left							: 0px;
	bottom						: 0px;
	width							: 100%;
	height						: 100%;
	overflow  				: hidden;
	background-image	: url(../../imgs/dashboard/bgPattern.png);
	background-repeat	: repeat;
	z-index						: 1;
}

#menu
{
	position		 		 : relative;
	margin					 : 0 auto;
	height			 		 : 50px;
	width		 		 		 : 70px;
	background-color : #FF9F80;
	border-style		 :solid;
	border-width		 :5px;
	border-top-width : 0px;
	border-color		 : #F56991;
	border-radius 	 : 0px 0px 5px 5px;
	
	-webkit-transition-duration 			 : 250ms;
	-webkit-transition-timing-function : ease-in-out;
	-moz-transition-duration 			 : 250ms;
	-moz-transition-timing-function : ease-in-out;
	top : -50px;
}

#newNoteButton
{
	height : 50px;
	width  : 50px;
}

#menu:hover
{
	top																 : 0px;
	-webkit-transition-duration 			 : 250ms;
	-webkit-transition-timing-function : ease-in-out;
	-moz-transition-duration 			 : 250ms;
	-moz-transition-timing-function : ease-in-out;
}

.buttons
{
	position		 : relative;
	float				 : left;
	margin-left	 : 10px;
	margin-right : 10px;
	height			 : 45px;
	width 			 : 45px;
	cursor			 : pointer;
}


.notes
{ 
	position			: absolute;
	
	border-style	:solid;
	border-width	:5px;
	border-color 	: #F56991;
	border-radius : 4px 4px 4px 4px;
}

.closeButtons
{
	position : absolute;
	width 	 : 20px;
	height 	 : 20px;
	z-index	 : 2;
	
}

.submitButtons
{
	position : absolute;
	right 	 : 0px;
	width 	 : 20px;
	height 	 : 20px;
	z-index	 : 3;
	cursor	 : pointer;
}

.handles
{
	position: absolute;
	width		: 100%;
	height	: 20px;
	z-index	:	1;
	cursor	: pointer;
}

.handleImages
{
	width									: 100%;
	height								: 100%;
	background-image			: url(../../imgs/dashboard/handlePattern.png);
	background-repeat 		: repeat-x;
}

.noteImages
{
	width								: 100%;
	height							: 100%;
	z-index							: 0;
	position 						: absolute;
	
	background-color		:	#D1F2A5;
}

.contents
{
	clear 					 : both;
	padding-top			 : 20px;
	position 				 : relative;
	z-index  				 : 0;
}

.contents *
{
	padding : 0px;
}

.textAreas
{
	width						 : 100%;
	height					 : 100%;

	font-size				 : 30px;
	font-weight			 : 580;
	font-family			 : Cartoon;

	overflow						: hidden;
	background-color		: transparent;
	border							: none;

}

